.sobreContainer {
    background: rgb(243, 217, 217);
    display: flex;
    grid-template-columns: repeat(3, 2fr);
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 1rem;
    list-style: none;
  }
  
  .cardContainer {
    text-decoration:none;
    color: #dd1b1b;
    font-size: 1.3rem;

  }

  .sobreDescription {
    font-size: 1rem;
    color: #423535
  }

  